@page "/reports"

<PageTitle>Blazor Example: Reports</PageTitle>

<div class="d-flex flex-row align-items-baseline">
    <h3>Requirement Coverage</h3> 
    <span class="mx-2">as of @lastModifiedDate.ToString("yyyy-MM-dd HH:mm")</span>
</div>

@{
    var noTab = new MarkupString("");
    var tab1 = new MarkupString("_ ");
    var tab2 = new MarkupString("__ ");
    var tab3 = new MarkupString("___ ");
    var tab4 = new MarkupString("_____ ");
    MarkupString[] indent = new MarkupString[5] { noTab, tab1, tab2, tab3, tab4, };
}

<table class="table">
    <thead>
        <tr>
            <th>Requirement Id</th>
            <th>Definition</th>
            <th>Is Covered By Test</th>
            <th>Passed Test(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var requirement in requirements)
        {
            <tr>
                <td class="@(requirement.PassedTests ? "green" : "red")">@indent[requirement.Level] @requirement.Id</td>
                <td>@requirement.Definition</td>
                <td>@requirement.IsCoveredByTest</td>
                <td>@requirement.PassedTests</td>
            </tr>
        }
    </tbody>
</table>
